
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(45, 45, 45);
    font-family: 'Fira Code', monos pace;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    background: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: block;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
}

img { 
    display: block;
}

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(200,200,200);
    border: 3px solid rgb(45,45,45);
    border-radius: 10px;
}